<div class="container-fluid about-content">
	<div class="row">
		<h2>This app is built with :</h2>
	</div>
	<div class="row">
		<div class="col-md-6">
			<ul class="framework-list">
				<h3>Client Side :</h3>
				<li>AngularJS</li>
				<li>Twitter Bootstrap</li>
				<li>Yo</li>
				<li>Grunt</li>
				<li>Bower</li>
			</ul>
		</div>
		<div class="col-md-6">
			<ul class="framework-list">
				<h3>Server Side :</h3>
				<li>NodeJS</li>
				<li>express.js</li>
				<li>sockJS</li>
				<li>mongoose</li>
				<li>mongodb</li>
			</ul>
		</div>
	</div>
</div>
