<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/create">Create</a></li>
    <li><a ng-href="#/meeting">Meeting</a></li>
    <li><a ng-href="#/join">Join</a></li>
    <li><a ng-href="#/count">Count</a></li>
  </ul>
  <h3 class="text-muted">PayMyMeeting</h3>
</div>

<div class="container-fluid">
	<div class="row">
    <div class="counter">
      <span class="odometer-content">$<odometer value="cost"></odometer></span>
    </div>
		<p><a class="btn btn-lg btn-success" ng-click="stopMeeting()">Stop this meeting</a></p>
	</div>
</div>


<div class="footer">
	<p>POC</p>
</div>
