<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/create">Create</a></li>
    <li><a ng-href="#/meeting">Meeting</a></li>
    <li><a ng-href="#/join">Join</a></li>
    <li><a ng-href="#/count">Count</a></li>
  </ul>
  <h3 class="text-muted">PayMyMeeting</h3>
</div>

<div class="row" ng-controller="createMeetingController">
   <p>Create a meeting</p>
   <input type="text" size="30" ng-model="meeting.name" placeholder="Add your meeting name here">
   <input ng-click="createMeeting(meeting)" class="btn-primary" type="submit" value="create">
</div>

<div class="footer">
  <p>POC</p>
</div>