<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/create">Create</a></li>
    <li><a ng-href="#/meeting">Meeting</a></li>
    <li><a ng-href="#/join">Join</a></li>
    <li><a ng-href="#/count">Count</a></li>
  </ul>
  <h3 class="text-muted">PayMyMeeting</h3>
</div>

<div class="jumbotron">
  <h1>How much does my meeting costs ?</h1>
</div>

<div class="row marketing"  ng-controller="homeController">
  <li ng-repeat="meeting in meetings">
    <a href="#/meeting/{{meeting.id}}">{{meeting.title}}</a>
  </li>
  <p><a class="btn btn-lg btn-success" ng-href="#/create">Create a meeting</a></p>
</div>

<div class="footer">
  <p>POC</p>
</div>
