<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<a href="{{joinURL}}"><qrcode class="qrcode" version="5" error-correction-level="M" size="200" data="{{joinURL}}"></qrcode></a>
		</div>
		<div class="col-md-6">
			<h2>Attendees :</h2>
			<ul class="list-group">
				<li ng-repeat="attendee in attendees">{{attendee.name}}</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<a href='#/cost/{{meetingId}}' class="btn btn-lg btn-success">Start meeting</a>
		</div>
	</div>
</div>