<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/create">Create</a></li>
    <li><a ng-href="#/meeting">Meeting</a></li>
    <li><a ng-href="#/join">Join</a></li>
    <li><a ng-href="#/count">Count</a></li>
  </ul>
  <h3 class="text-muted">PayMyMeeting</h3>
</div>

<div class="container-fluid" ng-controller="showMeetingController">
	<div class="row">
		<div class="col-md-8">
			<a href="#/join/{{meetingId}}">
				<img src="http://t2.gstatic.com/images?q=tbn:ANd9GcRzs6gz-iFTn_vnJxXbG07v9zrIJaHyUJeMRRQgvh5hrGkmWAzajxNdfjnXvA">
			</a>
		</div>
		<div class="col-md-4">
			<p>Attendees :</p>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="attendee in attendees">{{attendee.name}}</li>
			</ul>
		</div>
	</div>
</div>


<div class="footer">
	<p>POC</p>
</div>