<div class="container-fluid" ng-controller="showMeetingController">
	<div class="row">
		<div class="col-md-8">
			<a href="#/join/{{meetingId}}">
				<img src="http://t2.gstatic.com/images?q=tbn:ANd9GcRzs6gz-iFTn_vnJxXbG07v9zrIJaHyUJeMRRQgvh5hrGkmWAzajxNdfjnXvA">
			</a>
		</div>
		<div class="col-md-4">
			<h2>Attendees :</h2>
			<ul class="list-group">
				<li ng-repeat="attendee in attendees">{{attendee.name}}</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<a href='#/cost/{{meetingId}}' class="btn btn-lg btn-success">Start meeting</a>
		</div>
	</div>
</div>